click==8.1.7
pydantic==2.9.2
PyYAML==6.0.2
python-dotenv==1.0.1
asyncio==3.4.3
ccxt==4.4.*
pandas==2.2.3
# As pandas_ta is not compatible woth numpy>=2.0 the numpy v1.26.4 must be used
numpy==1.26.4
tenacity==9.0.0
mergedeep==1.3.4
pandas_ta==0.3.14b
../common
pytest
pytest-asyncio
black
