click==8.*
pydantic==2.*
PyYAML==6.*
python-dotenv==1.*
#asyncio==3.*
ccxt==4.*
mergedeep
asyncpg==0.*
sqlalchemy[asyncio]==2.*
pytest
pytest-asyncio
black
common @ https://pypi.fury.io/andennis/-/ver_2jfxRl/common-0.1.0-py3-none-any.whl